{% extends 'basic.template.html' %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Breed</th>
            <th>Type</th>
        </tr>
    </thead>

    {% for each_animal in htmlanimals %}
    <tr>
        <td>{{each_animal.name}}</td>
        <td>{{each_animal.age}}</td>
        <td>{{each_animal.breed}}</td>
        <td>{{each_animal.type}}</td>
        <td><a href="{{url_for('delete_animal',animal_id=each_animal._id)}}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
</table>



{% endblock %}